@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #041525; }

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0; }

.section-home {
  position: relative;
  overflow: hidden; }

.section-home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80rem;
  /* background: url("../images/circles-bg.svg") no-repeat center; */
  bottom: -20rem; }

.section-wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem; }

.home-section-wrapper {
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding-top: 5rem;
  overflow: hidden; }

.logo-container {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  z-index: 1; }

.logo {
  background: url("../images/logo.svg") no-repeat;
  background-size: contain;
  width: 18rem;
  height: 8.8rem;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 1;
  animation: grow 1.5s infinite cubic-bezier(0.8, -0.45, 0.32, 1.4) alternate;
  cursor: pointer; }

.pulsing-circle {
  width: 9.6rem;
  height: 9.6rem;
  box-shadow: inset 0 0 0 3.2rem #58D1FF;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1; }

.pulsing-circle::before, .pulsing-circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  box-shadow: inset 0 0 0 1px #58D1FF; }

.pulsing-circle::before {
  animation: pulsing 1.5s infinite ease-in-out; }

.pulsing-circle::after {
  animation: pulsing 1.5s 0.4s infinite ease-in-out; }

.home-subtitle {
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.btns-container {
  display: flex;
  justify-content: center; }

.btn {
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 2px;
  margin: 0 1.5rem 1rem;
  align-self: baseline;
  font-size: 2.4rem;
  transition: all 0.2s ease;
  min-width: 20%; }

.btn:hover {
  transform: scale(1.02); }

.btn:active {
  transform: none; }

.btn-pink {
  background: #FF2C5B;
  color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25); }

.btn-pink:hover {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.25); }

.btn-pink:active {
  background: #DF1E49; }

.btn-outline {
  background: rgba(255, 255, 255, 0.8);
  color: #041525;
  box-shadow: inset 0 0 0 2px #041525; }

.btn-outline:hover {
  box-shadow: inset 0 0 0 2px #FF2C5B; }

.btn-outline:active {
  background: #000;
  box-shadow: inset 0 0 0 2px #041525;
  color: white; }

.screenshots-container {
  margin-top: 3.2rem;
  position: absolute;
  bottom: -3.2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  padding-top: 2rem;
  max-height: 50vh;
  width: 100%;
  overflow: hidden; }

.desktop-screenshot {
  background: url("../images/desktop-screenshot.png") center 2rem #041C30 no-repeat;
  background-size: 100%;
  width: 54em;
  height: 54em;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  left: 8rem;
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s; }

.desktop-screenshot:hover {
  left: 9rem; }
  .desktop-screenshot:hover .mobile-screenshot {
    left: -18rem; }

.desktop-screenshot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #041525;
  border-radius: 2px 2px 0 0; }

.mobile-screenshot {
  background: #041C30;
  background: url("../images/mobile-screenshot.png") center 2rem #041C30 no-repeat;
  background-size: 100%;
  width: 26rem;
  height: 48rem;
  border-radius: 2px;
  position: absolute;
  top: 9rem;
  left: -16rem;
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s; }

.mobile-screenshot::before, .mobile-screenshot::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6.4rem;
  background: #041525; }

.mobile-screenshot::before {
  top: 0;
  border-radius: 2px 2px 0 0; }

.mobile-screenshot::after {
  bottom: 0;
  border-radius: 0 0 2px 2px; }

/*   responsive habibi   */
@media screen and (max-width: 640px) {
  html {
    font-size: 8px; }

  .home-subtitle {
    font-size: 3.8rem; }

  .about-container {
    padding: 5rem 3rem; }

  .credits-section-wrapper {
    padding: 0 2rem; } }
@keyframes pulsing {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
@keyframes grow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }
@keyframes glowing {
  0% {
    box-shadow: 0 0px 200px 20px rgba(88, 209, 255, 0); }
  100% {
    box-shadow: 0 0px 200px 20px rgba(88, 209, 255, 0.5); } }

/*# sourceMappingURL=main.css.map */
